<h1>Palindromes</h1>
<h3>Enter a word that you would like to check to see if it is a palindrome</h3>

<form action='/result'>
  <div class='form-group'>
    <input id='word' name='word' class='form-control' type='text' rows='3' placeholder='Possible palindrome'>
  </div>

  <button type='submit' class='btn'>Palindrome?</button>
</form>