<h1>Palindrome?</h1>
<% if @result.==(true) %>
  <p>Your word: <strong><%= @word %></strong> is a palindrome!</p>
<% elsif @result.==(false) %>
  <p>Your word: <strong><%= @word %></strong> is not a palindrome :( => <strong><%= @palindrome %></strong></p>
<% end %>
<hr>
<form action='/form'>
  <div class='form-group'>
    <button type='submit' class='btn'>Try Again</button>
  </div>
</form>